<h2>Administradores</h2>

<kendo-grid [data]="gridData" 
    [scrollable]="'none'"
    (edit)="editHandler($event)" 
    (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)" 
    (remove)="removeHandler($event)"
    (add)="addHandler($event)">

    <!-- add button -->
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>Crear nuevo</button>
    </ng-template>

    <kendo-grid-column field="idAdmin" title="ID" width="40"></kendo-grid-column>
    <kendo-grid-column field="nombreAdmin" title="Nombre Admin" width="200"></kendo-grid-column>
    <kendo-grid-column field="email" title="Email" width="200"></kendo-grid-column>
    <kendo-grid-column field="idRolAdmin" title="Rol" width="120">

        <ng-template kendoGridCellTemplate let-dataItem>
            {{buscarRoles(dataItem.idRolAdmin)?.descripcion}}
        </ng-template>
       
        <ng-template kendoGridEditTemplate
            let-dataItem="dataItem"
            let-formGroup="formGroup">
            
            <kendo-dropdownlist
                [data]="roles"
                name="roles"
                textField="descripcion"
                valueField="idRolAdmin"
                [valuePrimitive]="true"
                [(ngModel)]="dataItem.idRolAdmin"
                [formControl]="formGroup.get('idRolAdmin')" >
            </kendo-dropdownlist>
            
        </ng-template>

    </kendo-grid-column>

    <kendo-grid-command-column title="Acciones" width="220">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand class="k-primary">Modificar</button>
            <button kendoGridRemoveCommand>Eliminar</button>
            <button kendoGridSaveCommand class="k-primary">{{ isNew ? 'Añadir' : 'Guardar' }}</button>
            <button kendoGridCancelCommand>{{ isNew ? 'Descartar' : 'Cancelar' }}</button>
        </ng-template>
    </kendo-grid-command-column>
    
</kendo-grid>