<modal #modal>
    <modal-header [show-close]="true" >
            <h4 class="modal-title">Eliminar registro</h4>
    </modal-header>
    <modal-body>
            <div>
                ¿Está seguro de querer eliminar este registro?
            </div>
    </modal-body>
    <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancelar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="remove()">Aceptar</button>
    </modal-footer>
</modal>


<div class="panel panel-default">
    <div class="panel-heading">
        <p class="labelTitle">Administradores</p>
    </div>
</div>


<kendo-grid [data]="gridData" 
    [scrollable]="'none'"
    (edit)="editHandler($event)" 
    (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)" 
    (remove)="removeHandler($event)"
    (add)="addHandler($event)">

    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand><i class="k-icon fa fa-plus fa-fw"></i>&nbsp;Crear nuevo</button>
    </ng-template>

    <kendo-grid-column field="idAdmin" title="ID" width="40"></kendo-grid-column>
    <kendo-grid-column field="nombreAdmin" title="Nombre Admin" width="200"></kendo-grid-column>
    <kendo-grid-column field="email" title="Email" width="200"></kendo-grid-column>
    <kendo-grid-column field="idRolAdmin" title="Rol" width="120">

        <ng-template kendoGridCellTemplate let-dataItem>
            {{buscarRoles(dataItem.idRolAdmin)?.descripcion}}
        </ng-template>
       
        <ng-template kendoGridEditTemplate
            let-dataItem="dataItem"
            let-formGroup="formGroup">
            
            <kendo-dropdownlist
                [data]="roles"
                name="roles"
                textField="descripcion"
                valueField="idRolAdmin"
                [valuePrimitive]="true"
                [(ngModel)]="dataItem.idRolAdmin"
                [formControl]="formGroup.get('idRolAdmin')" >
            </kendo-dropdownlist>
            
        </ng-template>

    </kendo-grid-column>

    <kendo-grid-column field="password" title="Clave" width="120" editor="password">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div>{{showAsterisk()}}</div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-command-column title="Acciones" width="220">

        <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
                
            <button *ngIf="visibleForm" (click)="asignClients(dataItem)" class="k-primary s-primary" title="Asignar clientes">
                    <i class="k-icon fa fa-users fa-fw whiteText"></i>
            </button>


            <button kendoGridEditCommand class="k-primary s-primary" title="Modificar">
                    <i class="k-icon fa fa-edit fa-fw"></i>
            </button>
            <button kendoGridRemoveCommand class="k-primary s-button" title="Eliminar">
                    <i class="k-icon fa fa-remove fa-fw"></i>
            </button>

            <button kendoGridCancelCommand class="s-button" title="{{ isNew ? 'Descartar' : 'Cancelar' }}">
                    <i class="k-icon fa fa-remove fa-fw"></i>
            </button>
            <button kendoGridSaveCommand class="k-primary s-primary" title="{{ isNew ? 'Añadir' : 'Guardar' }}">
                    <i class="k-icon fa fa-save fa-fw"></i>
            </button>

        </ng-template>
    </kendo-grid-command-column>
    
</kendo-grid>