<modal #modal>
    <modal-header [show-close]="true" >
            <h4 class="modal-title">Cambios guardados</h4>
    </modal-header>
    <modal-body>
            <div>
                Los cambios se han guardado correctamente
            </div>
    </modal-body>
    <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Aceptar</button>
    </modal-footer>
</modal>

<div class="panel panel-default">
    <div class="panel-heading">
        <p class="labelTitle">Asignar clientes a: {{nombreAdmin}}</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="divListClients">
            <div *ngFor="let cliente of clientes; let i = index;" class="col-md-6">
                <p>
                    <input type="checkbox" [(ngModel)]="cliente.activo" />
                    {{cliente.nombreCliente}}</p>
            </div>
        </div>

        <div class="col-md-12"><hr></div>

        <div class="col-md-6 divLogout">
            <a class="k-button k-primary s-primary fillParent" [routerLink]="['/administradores']">
                    <i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i>&nbsp;Volver</a>
        </div>

        <div class="col-md-6 divLogout ">
            <a class="k-button k-primary s-primary fillParent" (click)="guardar()">
                    <i class="fa fa-save fa-fw" aria-hidden="true"></i>&nbsp;Guardar</a>
        </div>
    </div>
</div>
    