<modal #modal>
        <modal-header [show-close]="true" >
                <h4 class="modal-title">{{ title }}</h4>
        </modal-header>
        <modal-body>
                <div>
                        {{ message }}
                </div>
        </modal-body>
        <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancelar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="aceptar()">Aceptar</button>
        </modal-footer>
</modal>