.center{
    text-align: center;
}

.fillParent{
    width: 100%;
}

.s-button{
    background-color: #1d1060 !important;
    border-color: #1d1060 !important;
}

.s-tittle{
    font-size: 30px;
    font-weight: 500;
}


/***************************************************************/
/* menu */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
    }
    .sidebar-nav .navbar ul {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }