html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #eeeeee;
}

textarea{
  resize: none;
}

.center{
    text-align: center;
}

.fillParent{
    width: 100%;
}

.noPadding{
  padding: 0px;
}

.padding80{
  padding: 80px;
}

.s-button{
    height: 32px !important;
    margin-right: 5px;
}

.s-primary{
  background-color: #1d1060 !important;
  border-color: #1d1060 !important;
  height: 32px !important; 
  margin-right: 5px;
}


.s-tittle{
    font-size: 30px;
    font-weight: 500;
}

.labelUser{
    padding:5px 20px 5px 20px; 
    color: #1d1060; 
    font-style: italic;
}

.labelTitle{
  color: #1d1060; 
  margin-bottom: 0px !important;
}

.divLogout{
  padding: 0px 10px 25px 10px;
}

.divButtonLeftForm{
  padding: 0px 10px 0px 0px;
}

.divButtonRightForm{
  padding: 0px 0px 0px 10px;
}

.whiteText{
  color: white;
}

.divListClients{
  min-height: 475px;
}


/***************************************************************/
/* menu */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
    }
    .sidebar-nav .navbar ul {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }