<div class="col-md-6 col-md-offset-5">

    <form class="k-form" action="form" (ngSubmit)="login()" #f="ngForm" novalidate >

        <div class="center">
            <img src="/assets/img/softland_icon.png" class="fillParent">
        </div>

        <fieldset>
            <legend class="page-header">
                <h2>Login <small>INICIAR SESIÓN</small></h2>
            </legend>
            <label class="k-form-field">
                <span>Usuario</span>
                <input type="text" class="k-textbox" name="username" [(ngModel)]="model.email" #username="ngModel" required />
            </label>
            <label class="k-form-field">
                <span>Password</span>
                <input type="password" class="k-textbox" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
            </label>
        </fieldset>
    
        <div class="form-group">
            <button [disabled]="loading" class="k-button k-primary s-primary" [disabled]="!f.valid" >Login</button>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    
    </form>

</div>
