<!-- confirmacion previa al borrado -->
<confirm-modal #confirmModal [title]=confirmModalTitle [message]="confirmModalMessage" (acceptChanged)="remove()"></confirm-modal>

    
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="labelTitle">Instancias</p>
    </div>
</div>
    
<kendo-grid [data]="gridData" 
    [scrollable]="'none'"
    (edit)="editHandler($event)" 
    (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)" 
    (remove)="removeHandler($event)"
    (add)="addHandler($event)"
    [sortable]="true"
    [pageable]="true"
    [filterable]="true"
    [pageSize]="state.take"
    [sort]="state.sort"
    [skip]="state.skip"
    [filter]="state.filter"
    [sortable]="true"
    (dataStateChange)="dataStateChange($event)" >

    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand class="k-primary s-primary">
            <i class="k-icon fa fa-plus fa-fw"></i>&nbsp;Crear nueva</button>
    </ng-template>

    <kendo-grid-column field="idInstancia" title="ID" width="40" [filterable]="false"></kendo-grid-column>
    <kendo-grid-column field="codigoInstancia" title="Instancia" width="80">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell
                [showOperators]="false"
                [column]="column"
                [filter]="filter">
            </kendo-grid-string-filter-cell>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="nombreInstancia" title="Nombre" width="200">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell
                [showOperators]="false"
                [column]="column"
                [filter]="filter">
            </kendo-grid-string-filter-cell>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="idProyecto" title="Proyecto" width="150">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{buscarProyecto(dataItem.idProyecto)?.descripcion}}
        </ng-template>

        <!-- add/edit form -->
        <ng-template kendoGridEditTemplate
            let-dataItem="dataItem"
            let-formGroup="formGroup">
            <kendo-dropdownlist
                [data]="proyectos"
                textField="descripcion"
                valueField="idProyecto"
                [valuePrimitive]="true"
                [(ngModel)]="dataItem.idProyecto"
                [formControl]="formGroup.get('idProyecto')"></kendo-dropdownlist>
        </ng-template>
            
        <!-- filter -->
        <ng-template kendoGridFilterCellTemplate
            let-dataItem="dataItem" >
            <kendo-combobox 
                    [data]="proyectos"
                    textField="descripcion"
                    valueField="idProyecto"
                    [valuePrimitive]="true"
                    (valueChange)="filtroProyecto($event)">
            </kendo-combobox>
        </ng-template>
        
    </kendo-grid-column>

    <kendo-grid-column field="idCliente" title="Cliente" width="150">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{buscarCliente(dataItem.idCliente)?.nombreCliente}}
        </ng-template>

        <!-- add/edit form -->
        <ng-template kendoGridEditTemplate
            let-dataItem="dataItem"
            let-formGroup="formGroup">
            <kendo-dropdownlist
                [data]="clientes"
                textField="nombreCliente"
                valueField="idCliente"
                [valuePrimitive]="true"
                [(ngModel)]="dataItem.idCliente"
                [formControl]="formGroup.get('idCliente')"
                >
            </kendo-dropdownlist>
        </ng-template>


        <!-- filter -->
        <ng-template kendoGridFilterCellTemplate
            let-dataItem="dataItem">
            <kendo-combobox 
                    [data]="clientes"
                    textField="nombreCliente"
                    valueField="idCliente"
                    [valuePrimitive]="true"
                    (valueChange)="filtroCliente($event)">
            </kendo-combobox>
        </ng-template>

    </kendo-grid-column>


    <kendo-grid-command-column title="Acciones" width="120">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand class="k-primary s-primary" title="Modificar">
                    <i class="k-icon fa fa-edit fa-fw"></i>
            </button>
            <button kendoGridRemoveCommand class="k-primary s-button" title="Eliminar">
                    <i class="k-icon fa fa-remove fa-fw"></i>
            </button>

            <button kendoGridCancelCommand class="s-button" title="{{ isNew ? 'Descartar' : 'Cancelar' }}">
                    <i class="k-icon fa fa-remove fa-fw"></i>
            </button>
            <button kendoGridSaveCommand class="k-primary s-primary" title="{{ isNew ? 'Añadir' : 'Guardar' }}">
                    <i class="k-icon fa fa-save fa-fw"></i>
            </button>
        </ng-template>
    </kendo-grid-command-column>
    
</kendo-grid>